@import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Sans:wght@200..800&family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";


*{
    font-family: Outfit;
}

.active hr{
    @apply block
}

::-webkit-scrollbar{
    @apply hidden
}